{% extends 'base.html.twig' %}

{% block title %}{{ poulet.getPrenom() }} le Poulet{% endblock %}

{% block body %}
    <div>
        <h1>{{ poulet.getPrenom() }}</h1>
        <p> Race : {{ poulet.getRace() }} <br>
            Age : {{ poulet.getAge() }} <br>
            Sexe : {{ poulet.getSexe() }}<br>
            Couleur: {{ poulet.getCouleur() }}
        </p>

        <h2>Qui est <u>{{ poulet.getPrenom() }}</u> ?</h2>
        <p>{{ poulet.getDescription() }}</p>

        <div>
            <h3>Le fermier</h3>
            <p>
                {{ poulet.getFermier().getPrenom() }} {{ poulet.getFermier().getNom() }}
            </p>
            {% if nombreFreres > 0 %}
                <a href="{{ path('fermierDetail', {name: poulet.fermier.prenom}) }}">Voir ses {{ nombreFreres }} autres Poulets</a>
            {% endif %}
        </div>

        <div>
            {% if poulet.famille is not null %}
                {{ poulet.prenom }} à été adopté par une famille aimante
                <br>
                Merci <b>{{ poulet.famille.prenom }}</b>
            {% else %}
                <h2>Adopter {{ poulet.prenom }}</h2>
                {% if app.user is null %}
                    <p>Envie d'adopter ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
                {% else %}
                    {{ form_start(form) }}
                        {{ form_row(form.montantMensuel) }}
                        <button type="submit">J'adopte</button>
                    {{ form_end(form) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
